.App {
  text-align: center;
}

.map-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.map {
  flex: 100%;
  border-radius: 16px;
  margin: 10px 10px;
}

.primary-color {
  background-color: #21283f;
}

.secondary-color {
  background-color: #2d3249;
}

.card-map {
  height: 250px;
  width: 100%;
}
