.App {
  text-align: center;
}

.map-container {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  min-width: 320px;
}

.map {
  flex: 100%;
  margin: 10px 10px;
}

.primary-color {
  background-color: #21283f;
}

.secondary-color {
  background-color: #2d3249;
}

.card-map {
  height: 250px;
  width: 100%;
}
