.form-input-icon {
  display: flex;

  margin-bottom: 10px;
  border-radius: 24px;
  background-color: #2d3249;
}

.icon {
  flex: 10%;
  padding: 10px;
  min-width: 50px;
  text-align: center;
  color: white;
}

.form-input-field {
  flex: 90%;
  width: 100%;
  padding: 10px;
  text-align: start;
  background: none;
  border: none;
  outline: none;
  color: white;
}

.form-input-field::placeholder {
  color: #8c8f98;
}

.form-button-icon i {
  position: absolute;
}

.form-button-icon {
  width: 50%;
  margin-bottom: 10px;
  border-radius: 24px;
  background-color: #3282b9;
}

.form-button {
  width: 100%;
  padding: 10px;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  color: white;
}
